html, body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@keyframes piscapisca {
    0% {
        background-color: #073b4c;
    }

    100% {
        background-color: #fff;
        color: red;
        border: 1px solid red;
    }
}

.swal2-styled.swal2-confirm {
    background-color: #5E666D !important;
    width: 150px;
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    display: block;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.swal2-styled.swal2-confirm:hover{
    color: #39B51A;
    background-color: #fff !important;
    border: 0.5px solid #39B51A;
    box-shadow: 0px 7px 10px rgb(57 181 26 / 15%);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

/* TELAS DE LOGIN/SINGING */
.background-login {
    position: absolute;
    background-color: #343A40;
    width: 100%;
    height: 40%;
    top: 0;
    z-index: -1;
    box-shadow: 0px 10px 34px rgb(0 0 0 / 30%);
}

.position-btns-accessibility {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
}

input::-ms-reveal,
input::-ms-clear {
        display: none;
      }

@media screen and (max-width: 450px) {
    .position-btns-accessibility {
        display: flex;
        flex-direction: column;
    }

    .accessibility-btn {
        margin: 2px 4px !important;
    }
}

.position-center-login {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logo-login {
    width: 207px;
    max-width: 100%;
    height: 87px;
}

.p-system-name {
    margin-bottom: 0px;
}

.system-name {
    color: #fff;
    font-weight: 300px;
    text-transform: uppercase;
}

.card-custom {
    width: 544px;
    max-width: 100%;
    padding: 25px 60px;
    margin: auto;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 10%);
}

.position-title-card {
    text-align: center;
}

.title-card {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.label-form-text {
    color: #5C5C5C;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.label-form-custom {
    color: #5C5C5C;
    font-weight: 300;
}

.custom-check-label {
    color: #5C5C5C;
    font-weight: 300;
    font-style: italic;
}

input[type="radio"]:checked+label{
    color: #000;
    font-weight: bold;
    font-style: italic;
}

input[type="checkbox"]:checked+label{
    color: #000;
    font-weight: bold;
    font-style: italic;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-n {
    align-items: flex-start;
    width: 80%;
    margin-right: 15px;
}

.form-control {
    border: 0.5px solid #C5C5C5;
    background-color: #fff;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 4px 5px rgb(0 0 0 / 25%) !important;
}

.form-control::placeholder {
    font-style: italic;
    font-weight: 300;
}

.form-select {
    width: 300px !important;
}

.select-form {
    width: 100% !important;
    cursor: pointer;
}

.btn-confirm-login {
    background-color: #5E666D;
    width: 150px;
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    display: block;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn-confirm-login:hover {
    color: #39B51A;
    background-color: #fff;
    border: 0.5px solid #39B51A;
    box-shadow: 0px 7px 10px rgb(57 181 26 / 15%);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.massage-erro {
    font-size: 12px;
    color: #750202;
    font-weight: bold;
}

.link_another {
    color: #ff0000;
}

.position-forgot {
    margin-bottom: 30px;
}

.link-forgot-pass {
    display: block;
    text-align: end;
    color: #1976D2;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

.icon-password {
    position: absolute;
    top: 45px;
    right: auto;
    cursor: pointer;
    margin-right: 10px;
}

.icon-error {
    position: absolute;
    top: 44px;
    cursor: pointer;
    margin-right: 35px;
}

.buttons-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-detail button{
    margin: 0;
    margin-top: 0.5rem;
    margin-right: 1.0rem;
}


/* DASHBOARD */
.header-nav {
    z-index: 1;
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
}

.position_top_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
}

.name-user {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-right: 15px;
}

.right_area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.img-logo-dash {
    width: 100px;
    height: 100%;
    margin-left: 50px;
    margin-right: 25px;
}

.logout_btn {
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    transition-property: background;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 84px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    width: 266px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.ajust_text{
    font-size: 0.94em;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sidebar a:hover {
    color: #fff;
    background: rgba(196, 196, 196, 0.5);
}

.sidebar i {
    min-width: 30px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    top: 25px;
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
    border: none;
}

label #sidebar_btn:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#check:checked ~ .sidebar {
    left: -185px;
    width: 250px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 280px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}


#check:checked ~ .content {
    margin-left: 86px;
}

#check:checked ~ .sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.position_content_search {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.position_content_inputs {
    display: flex;
    justify-content: space-evenly;
}

.position-inside-input {
    margin: 0 0.25em;
}

.accessibility-btn {
    flex-direction: row;
    background-color: #2f323a;
    border: 3px solid #ccc;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin: -10px 4px;
    width: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.accessibility-btn:hover{
    background-color: #ccc;
    color: #2f323a
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~ .content {
        margin-left: 0;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover {
        color: rgba(196, 196, 196, 0.5);;

    }

    .mobile_nav_items {
        background: #2f323a;
        display: none;
    }

    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover {
        background: rgba(196, 196, 196, 0.5);;
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
    }

    .border-nav {
        border: 1px solid #3490dc;;
    }
}


/* PERMISSION */

.positon_name_include {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.name_table {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.850px;
    margin-block-end: 0px;
}

.btn_include {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color: #2499E3;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn-more-space {
    width: 250px;
}

.btn_include:hover {
    background-color: #fff;
    color: #2499E3;
    border: 1px solid #2499E3;
    text-decoration: none;
    cursor: pointer;
}

.btn-back {
    background-color: #c51f1a;
}

.btn-back:hover {
    color: #c51f1a;
    background-color: transparent;
    border: 1px solid #c51f1a;
}

.icon-space {
    margin-right: 15px;
}

.table-custom {
    box-shadow: 0px 7px 8px rgb(0 0 0 / 25%);
}

.tfoot-align {
    text-align: right;
}

.positon-icons-table {
    display: flex;
    flex-direction: row;
}

.permission-tag-breaker {
    display: flex;
    flex-direction: column;
}

.tag-spacing {
    margin-bottom: 0.9em;
}

.tresh-btn {
    margin: 5px 0px;
    margin-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c51f1a;
    border: 1px solid transparent;
    text-decoration: none;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.tresh-btn:hover {
    background-color: #fff;
    color: #c51f1a;
    border: 1px solid #c51f1a;
    text-decoration: none;
}

.tresh-btn:hover .tooltiptext{
    visibility: visible;
    opacity: 0;
}

.tfoot-btn {
    color: #c51f1a;
}

.tfoot-view {
    color: #06d6a0;
}

.tfoot-doc {
    color: #073b4c;
}

.tfoot-edit {
    color: #3490dc;
}

.view-btn {
    background-color: #06d6a0;
}

.view-btn:hover {
    color: #06d6a0;
    border: 1px solid #06d6a0;
}

/* .view-btn:hover .tooltiptext{
    visibility: visible;
    opacity: 0;
} */

.document-btn {
    background-color: #073b4c;
    animation-name: unset;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.icone-lightOn {
    animation-name: piscapisca;
}

.document-btn:hover {
    color: #073b4c;
    border: 1px solid #073b4c;
}
.edit-btn {
    background-color: #3490dc;
}

.btn-bigSize {
    margin: 0;
    width: 40px;
    height: 40px;
}

.edit-btn:hover {
    color: #3490dc;
    border: 1px solid #3490dc;
}
.space-p {
    margin: 0 10px;
}

/* NEW PROTOCOLO */

.positon-btn-back {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.position-btn-include {
    margin-bottom: 20px;
}

.posiiton-check {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1.5em;
}

.position-yORn {
    margin-bottom: 15px;
}

.positon-btn-close {
    margin: 10px 10px 0 auto;
}

.position-contetn-modal {
    margin: 20px auto;
}

.content-modal {
    font-weight: bold;
    font-size: 20px;
    color: #5E666D;
}

.position-btn-confirm {
    margin: 10px auto;
    padding: 1rem 0rem;
}

.positon-btn-include {
    margin: 25px 0px;
}

.btn-search {
    border: none;
}

/* EDITAR PERFIL */

.positon-card-edit-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-save-editor {
    border: none;
    background-color: #28a745;
    width: 100px;
    height: 36px;
}

.btn-save-editor:hover {
    color: #28a745;
    background-color: #fff;
    border: 1px solid #28a745;
}

.back-screen {
    width: 100px;
    height: 36px;
}

.back-screen:hover {
    text-decoration: none;
}

.card-module-edit {
    margin: 20px 0px;
}

.name-module {
    font-size: 18px !important;
}

.position-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* CONFIRMAR RESPONSABILIDADE */

.descripttio_title {
    font-size: 22px;
    color: #22242a;
    letter-spacing: 1.250px;
}

.licence-descrip {
    color: #000;
}

.descripttio_title_custom {
    font-weight: bold;
}

.accordion-item{
    margin: 2%;
    border:0px !important;
}

.accordion-body{
  background: #EAEAEA;
}

.position-btn-save {
    margin-bottom: 30px;
}

.position-btn-save > .btn-confirm-login {
    margin: initial;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.accordion-button-custom {
    color: #000;
    background-color: #C4C4C4 !important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: #7e7e7e !important;
}

.strong-descri-card {
 font-weight: bold;
}

.check-label-custom {
    margin-right: 30px;
}

.content-descri {
    margin-bottom: 35px;
}

.division-accordion {
    width: 50%;
    padding: 0 10px;
  }

  .position-protocolos {
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
}


.position-protocolos:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .division-accordion {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.style-label-file {
    font-size: 16px;
    font-weight: bold;
    color: #17232c;
}

.button-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #1570B6;
    width: 156px;
    height: 36px;
    border: 1px solid #1570B6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.button-label:hover {
    background-color: #1570B6;
    color: #fff;
}

.button-send-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}




.btn-save-responsibility:hover{
    color:#343A40;
    background-color: #fff ;
    text-decoration: none;
    border-radius: .25rem;
    border: solid #343a40;
}

.container-acess-bar{
    padding-bottom: 0px;
}


/* MODAL */

/* BTN-MODAL */
#btnToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba( 52, 58, 64, 0.6);
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

#modalConsultId{
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba( 52, 58, 64, 0.6);
    color: #fff;
    cursor: pointer;
    padding: 0.78rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

#btnToTop[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -75px;
    left: 0;
}

#btnToTop:hover {
    color: #000;
    background-color: rgba( 0, 0, 0, 0.4);
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}
#modalConsultId:hover {
    color: #000;
    background-color: rgba( 0, 0, 0, 0.4);
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}
/* /BTN-MODAL */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    flex: 1 1 auto;
    padding: 1rem;
    border: 1px solid #888;
  }

  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 15px auto;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.position-bottons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn_select {
    width: 200px;
    border: none;
    font-size: 12px;
}

/* PAGINATE-SYSTEM */

.page-crud {
    display: inline-block;
    margin-bottom: 10px;
}

  .page-crud a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #3490dc;
}

  .page-crud a.active {
    background-color: #3490dc;
    color: white;
    border: 1px solid #3490dc;
}

  .page-crud a:hover:not(.active) {background-color: #ddd;}

  .page-crud a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

  .page-crud a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-text {
    color: #3490dc;
    font-weight: 800;
}

.title-form{
    font-weight: 700;
    text-align: center;
}

.complemento-form{
    display: flex;
}

input[readonly].form-control{
    background-color:transparent;
}

#toast-container > div {
    opacity: 1 !important;
}

.ui-datepicker {
    margin: 5px auto 0;
    font: 12pt 'Roboto', sans-serif;
    padding: 0em;

  }

  .ui-datepicker .ui-datepicker-header {
      box-sizing: border-box;
      color: white;
      background: #343A40;
      padding:0.5%
  }

  .ui-datepicker-prev, .ui-datepicker-next {
      color: white;
      cursor: pointer;
  }

  .ui-datepicker-month {
    background:#343A40 ;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.ui-datepicker-year{
    background:#343A40 ;
    color: white;
    font-family: 'Roboto', sans-serif;
}

  .ui-icon{
      background-color: white;
      border-radius: 50%;
  }

   .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 30px;
    max-width: 30px;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  #pesquisar:hover .tooltiptext {
    visibility: visible;
    opacity: 0;
  }

  .container-acess-bar{
      margin-top: 0%;
      display: flex;
      align-items: center;
  }

  .form-check-inline {
    margin-right: unset !important;
    min-width: 100px;
  }
